{% extends 'base.html' %}   
    {% load tailwind_filters %}
{% block content %}   
    <a href="{% url 'agents:agent-list' %}">Go back to agents </a>
     <hr /> {#makes a horizontal line on page #}
    <h1> create a new agent </h1>
    <form method = "post"> {#wrap the body with <form>.. as we want to submit information then use it we use post... get method would be better fetching and searching...action is the url you want to submit data to#}
        {% csrf_token %} {# we must use csrf token when we use method = "post" for security reasons #}
        {{ form|crispy }} {#lead_create will know what 'form' is b\c we identified it in our view.py.lead_create method as a context to render here ....we could do form.as_p to have them in a paragraph format #}
        <button type="submit">Submit</button> {# when we hit submit we go back to our view.py lead_create method #}
    </form>
{% endblock content %}